<p id="notice"><%= notice %></p>

<p>
  <strong>Post image:</strong>
  <%= @post.post_image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @post.integer %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
